<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Saldo</servlet-name>
        <servlet-class>servlets.pessoaNaoCliente.Saldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <servlet-class>servlets.banco.Cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operacao</servlet-name>
        <servlet-class>servlets.banco.Operacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticacao</servlet-name>
        <servlet-class>servlets.banco.Autenticacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.banco.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.banco.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposito</servlet-name>
        <servlet-class>servlets.banco.paginas.FazerDeposito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaCadastro</servlet-name>
        <servlet-class>servlets.banco.paginas.FazerCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinhaConta</servlet-name>
        <servlet-class>servlets.banco.paginas.MinhaConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FazerSaque</servlet-name>
        <servlet-class>servlets.banco.paginas.FazerSaque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FazerTransferencia</servlet-name>
        <servlet-class>servlets.banco.paginas.FazerTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Extrato</servlet-name>
        <servlet-class>servico.bancario.Extrato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Saldo</servlet-name>
        <url-pattern>/ncliente/saldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/bank/cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operacao</servlet-name>
        <url-pattern>/bank/operacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacao</servlet-name>
        <url-pattern>/bank/autenticacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/bank/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/bank/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposito</servlet-name>
        <url-pattern>/bank/deposito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaCadastro</servlet-name>
        <url-pattern>/bank/crieConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinhaConta</servlet-name>
        <url-pattern>/bank/minhaConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FazerSaque</servlet-name>
        <url-pattern>/bank/fazerSaque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FazerTransferencia</servlet-name>
        <url-pattern>/bank/fazerTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Extrato</servlet-name>
        <url-pattern>/bank/extrato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
